
<% @games.each do |game| %>
<div class="booyah-box col-10 offset-1">
  
  <h2><%= link_to game.name, game_path(game) %> </h2>
  <p><%= game.rating %> </p>
  <p><%= game.review %></p>
  <% if game.user.present? %>
    <small><%= game.user.email %></small>
  <% end %>
</div>
<% end %>