@import "bootstrap";
@import "font-awesome";
@-ms-viewport{
  width: device-width;
  }

 .booyah-box {
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}